:root {
  --color-background: #FAF7F2;
  --color-text: #3E2A1E;
  --color-primary: #3D5941;
  --color-secondary: #5A7D5F;
  --color-accent: #D97642;
  --font-header: 'Chaparral Pro', serif;
  color: var(--color-text);
  background-color: var(--color-background);
  --padding-teeny-tiny: 10px;
  --padding-tiny: 25px;
  --padding-small: 50px;
  --padding-medium: 100px;
  --padding-medium-neg: -100px;
  --padding-large: 150px;
}

body {
  background-color: var(--color-background) !important;
  font-size: 1.25rem;
}

header {
  max-height: 600px;
  overflow: clip;
  margin-bottom: var(--padding-small);
  &.hero {
    position: relative;
    img {
      width: 100%
    }
    h1 {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      margin: 0;
      display: block;
      font-family: var(--font-header);
      font-size: 3rem;
      max-width: 700px;
    }
  }
}

.pull-quote {
  width: 50%; /* half width of center column of text */
  padding: var(--padding-tiny);
  background: var(--color-secondary);
  color: var(--color-background);
  font-size: 1.5rem;
  font-style: italic;

  &.pull-right {
    float: right;
    margin-right: var(--padding-medium-neg); /* push off to the right */
    margin-left: var(--padding-tiny);
    border-left: 4px solid var(--color-accent);
  }

  &.pull-left {
    float: left;
    margin-left: var(--padding-medium-neg); /* push off to the left */
    margin-right: var(--padding-tiny);
    border-right: 4px solid var(--color-accent);
  }

  small, figcaption {
    display: block;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    font-style: normal;
    color: var(--color-background)
  }
}

figure {
  &.gallery img {
    margin-bottom: var(--padding-tiny);
  }
}

figure.pull-quote {
  img {
    width: 100%;
  }
}

nav {
  padding: 10px 0;
  background-color: var(--color-primary);
  color: var(--color-background);
  a {
    color: var(--color-background);
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

@font-face {
  font-family: 'Chaparral Pro';
  src: url('../fonts/ChaparralProBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

main {
  padding: 2rem 0;
}

h1 {
  background-color: var(--color-secondary);
  color: var(--color-background);
  padding: var(--padding-tiny);
  font-family: var(--font-header);
  font-size: 4rem;
}

h2 {
  font-family: var(--font-header);
  font-size: 2.5rem;
}

.story-preview {
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  padding: var(--padding-teeny-tiny);
  margin-top: var(--padding-tiny);

  img {
    margin-bottom: 0.5rem;
  }
  h3 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: var(--font-header);
  }
  p {
    margin: 0.5rem 0;
  }
  small {
    text-transform: uppercase;
    text-transform: bold;
    font-size: 0.8rem;
    font-weight: bold;
  }
}

figure {
  margin: var(--padding-teeny-tiny) 0;
  &.full-width {
    width: 100%;
    margin: var(--padding-small) 0;
  }
  &.video {
    margin: var(--padding-tiny) 0;
  }
  &.gallery {
    margin: var(--padding-tiny) 0 0 0;
  }
}

.carousel {
  margin-bottom: var(--padding-small);
}
.carousel-cell {
  width: 66%;
  height: 400px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
}


@media only screen and (max-width: 800px) and (orientation: portrait) {
  header{
    &.hero {
      h1 {
        max-width: 90% !important;
      }
    }
  }
  .pull-quote {
    width: 100% !important;
    float: none !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    &.pull-left,&.pull-right {
      border: none;
    }
  }
}
